@charset "UTF-8";
@font-face {
  font-family: "Gilroy-Regular";
  src: url(../fonts/Gilroy/Gilroy-Regular.woff);
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url(../fonts/Gilroy/Gilroy-Medium.woff);
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(../fonts/Gilroy/Gilroy-SemiBold.woff);
}
@font-face {
  font-family: "Otomarine";
  src: url(../fonts/Otomarine/Otomarine.woff);
}
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

ul {
  list-style: none;
}

ul, li, p, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

input, button, a {
  outline: none;
}

a {
  text-decoration: none;
}

.content-container {
  min-height: 100%;
  margin-bottom: -141px;
}
.content-container:after {
  content: "";
  display: block;
  height: 141px;
}

body {
  font-family: Gilroy-Medium, sans-serif;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  overscroll-behavior: none;
}
body img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3 {
  font-weight: 500;
}

.content-center {
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  font-size: 14px;
  color: #FFFFFF;
  transition: all 0.4s linear;
  display: inline-block;
  border-radius: 2px;
  text-align: center;
}

.green-btn {
  background-color: #149E4C;
}
.green-btn:hover {
  background-color: #149448;
}

.link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.form-subscribe input[type=email] {
  background: #FFFFFF;
  border: none;
  border-radius: 2px;
  padding: 18px 20px 15px;
  color: #363636;
  margin-right: 16px;
  height: 46px;
  width: 76.5%;
}
.form-subscribe .privacy {
  margin-top: 31px;
  display: block;
  font-size: 12px;
  color: #7f7f7f;
}
.form-subscribe .privacy a {
  color: #FFFFFF;
}
.form-subscribe .privacy a:hover {
  text-decoration: underline;
}

input[type=search i]::-webkit-search-cancel-button {
  display: none !important;
}

input[type=search],
input[type=email] {
  font-size: 14px;
  font-family: Gilroy-Regular, sans-serif;
  border-radius: 4px;
  width: 100%;
  outline: none;
  -webkit-appearance: none !important;
}
input[type=search]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]:-moz-placeholder,
input[type=email]:-moz-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]::-moz-placeholder,
input[type=email]::-moz-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}

.breadcrumbs {
  padding: 20px 0 23px;
}
.breadcrumbs li {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  color: #8b8b8b;
}
.breadcrumbs li:last-child:after {
  display: none;
}
.breadcrumbs li:after {
  content: "";
  background: #8b8b8b;
  width: 15px;
  height: 1px;
  display: inline-block;
  vertical-align: top;
  margin: 5px 0 0 10px;
}
.breadcrumbs li a {
  color: #8b8b8b;
}
.breadcrumbs li a:hover {
  text-decoration: underline;
}

.article-info {
  display: flex;
  font-size: 14px;
  color: #8b8b8b;
}
.article-info .info-date,
.article-info .info-read {
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.article-info .info-date:after,
.article-info .info-read:after {
  content: "●";
  font-size: 5px;
  color: #8b8b8b;
  margin-left: 8px;
  margin-top: -2px;
}
.article-info .info-tag {
  background: #f8f8f8;
  padding: 6px 11px 4px;
  border-radius: 30px;
  color: #8b8b8b;
}
.article-info .info-tag:hover {
  background: whitesmoke;
}

.blog-page__header {
  padding-bottom: 30px;
}
.blog-page__header .page-title {
  font-size: 44px;
  line-height: 52px;
  color: #050A0A;
  font-family: Otomarine, sans-serif;
}
.blog-page__header .page-subtitle {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #8b8b8b;
  margin-top: 10px;
}
.blog-page__main {
  padding-bottom: 60px;
}
.blog-page__main .content-center {
  display: flex;
  justify-content: space-between;
}
.blog-page__main-left {
  width: 745px;
  margin-right: 49px;
}
.blog-page__main-left-img {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}
.blog-page__main-left-title {
  margin-top: 26px;
  font-size: 34px;
  line-height: 40px;
  color: #050A0A;
  display: inline-block;
}
.blog-page__main-left-title:hover {
  text-decoration: underline;
}
.blog-page__main-left-info {
  margin-top: 26px;
}
.blog-page__main-right {
  width: 32%;
}
.blog-page__main-right-title {
  font-size: 18px;
  color: #050A0A;
}
.blog-page__main-right-pagi {
  margin-top: 30px;
  display: flex;
  border-bottom: 1px solid #E9E9E9;
}
.blog-page__main-right-pagi .pagi-item {
  font-size: 16px;
  color: #8b8b8b;
  padding-bottom: 22px;
  margin-right: 30px;
  border-bottom: 2px solid transparent;
  margin-bottom: -1px;
  cursor: pointer;
}
.blog-page__main-right-pagi .pagi-item:hover {
  border-color: #149E4C;
}
.blog-page__main-right-pagi .active {
  border-color: #149E4C;
}
.blog-page__main-right-item {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E9E9E9;
}
.blog-page__main-right-item:last-child {
  border-bottom: 0;
}
.blog-page__main-right-img {
  width: 98px;
  height: 59px;
  flex-shrink: 0;
  margin-right: 20px;
}
.blog-page__main-right-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-page__main-right-txt {
  font-size: 16px;
  line-height: 22px;
  color: #050A0A;
}
.blog-page__main-right-txt:hover {
  text-decoration: underline;
}

.popular,
.similar {
  background: #f8f8f8;
  padding: 80px 0 74px;
  text-align: center;
}
.popular__title,
.similar__title {
  font-family: Otomarine, sans-serif;
  font-size: 40px;
  line-height: 45px;
  color: #050A0A;
}
.popular__subtitle,
.similar__subtitle {
  margin: 15px auto 0;
  font-family: Gilroy-Regular, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #8b8b8b;
  width: 60%;
}
.popular__list,
.similar__list {
  margin-top: 40px;
  display: flex;
  text-align: left;
}
.popular__list-item,
.similar__list-item {
  width: 24%;
  margin-right: 20px;
}
.popular__list-item:nth-child(4n),
.similar__list-item:nth-child(4n) {
  margin-right: 0;
}
.popular__list-item-title,
.similar__list-item-title {
  margin-top: 20px;
  font-size: 18px;
  line-height: 26px;
  color: #050A0A;
  display: inline-block;
}
.popular__list-item-title:hover,
.similar__list-item-title:hover {
  text-decoration: underline;
}
.popular__list-item-date,
.similar__list-item-date {
  margin-top: 20px;
  font-size: 12px;
  color: #8b8b8b;
}

.articles {
  padding: 60px 0 80px;
}
.articles .articles__filter-wrap::-webkit-scrollbar {
  display: none;
}
.articles__filter {
  position: relative;
  padding-right: 50px;
}
.articles__filter-wrap {
  overflow-x: scroll;
  position: relative;
  z-index: 1;
  width: calc(100% - 70px);
}
.articles__filter-search {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  display: flex;
  align-items: center;
}
.articles__filter-search .search-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.articles__filter-search .search-btn:before {
  content: "";
  mask-image: url("../img/search-icon.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: #050A0A;
  width: 14px;
  height: 14px;
}
.articles__filter-search .close-btn {
  background: url("../img/close-icon.svg") no-repeat 0 0/contain;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 18px;
  z-index: 3;
  display: none;
  cursor: pointer;
}
.articles__filter-search .articles-search {
  height: 40px;
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.articles__filter-search .articles-search input[type=search] {
  border-radius: 100px;
  background: #FFFFFF;
  border: 1px solid #149E4C;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: Gilroy-Regular, sans-serif;
  color: #050A0A;
  padding: 10px 30px 10px 20px;
}
.articles__filter-search .articles-search .btn-submit {
  position: absolute;
  top: 12px;
  right: 16px;
  width: 15px;
  height: 15px;
  mask-image: url("../img/search-icon.svg");
  background-color: #050A0A;
  border: none;
  cursor: pointer;
}
.articles__filter-btns {
  position: absolute;
  top: 0;
  right: 50px;
  width: 80px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  box-shadow: -20px 10px 10px rgba(255, 255, 255, 0.9);
  border-radius: 100px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.articles__filter-btns .left-btn,
.articles__filter-btns .right-btn {
  mask-image: url("../img/arrow-right.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  width: 9px;
  height: 13px;
  cursor: pointer;
}
.articles__filter-btns .left-btn {
  transform: rotate(180deg);
  background-color: #C8C8C8;
  margin-right: 33px;
}
.articles__filter-btns .right-btn {
  background-color: #050A0A;
}
.articles__filter-list {
  width: max-content;
  display: flex;
}
.articles__filter-item {
  font-size: 14px;
  color: #8b8b8b;
  border: 1px solid #E9E9E9;
  border-radius: 100px;
  padding: 12px 16px 9px;
  margin-right: 8px;
  cursor: pointer;
}
.articles__filter-item:last-child {
  margin-right: 0;
}
.articles__filter-item:hover {
  background: #F7FBF9;
  color: #149E4C;
  border-color: #149E4C;
}
.articles__filter .active {
  background: #F7FBF9;
  color: #149E4C;
  border-color: #149E4C;
}
.articles__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.articles__left {
  width: 745px;
}
.articles__list-item {
  display: flex;
  padding: 40px 0;
  border-bottom: 1px solid #E9E9E9;
}
.articles__list-item:last-child {
  border-bottom: 0;
}
.articles__list-item-img {
  width: 380px;
  height: 220px;
  flex-shrink: 0;
  border-radius: 6px;
  overflow: hidden;
  margin-right: 32px;
}
.articles__list-item-txt {
  display: flex;
  flex-direction: column;
}
.articles__list-item-title {
  font-size: 20px;
  line-height: 25px;
  color: #050A0A;
}
.articles__list-item-title:hover {
  text-decoration: underline;
}
.articles__list-item-text {
  margin-top: 15px;
  font-size: 14px;
  line-height: 20px;
  color: #8b8b8b;
}
.articles__list-item-info {
  margin-top: auto;
}
.articles__all {
  display: none;
  border-top: 1px solid #E9E9E9;
}
.articles .toggle-list {
  display: block;
}
.articles__more {
  margin-top: 10px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  cursor: pointer;
  border-radius: 2px;
  padding-top: 5px;
}
.articles__more:hover .providers-page__more-btn:before {
  transform: rotate(180deg);
}
.articles__more-btn {
  color: #FFFFFF;
}
.articles__more-btn:before {
  content: "";
  background: url("../img/load-icon.svg") no-repeat 0 0/contain;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px 0 0;
  transition: 0.5s linear;
}
.articles__subscribe {
  width: 32%;
  background: #F6F6F6;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 29px;
  border-radius: 2px;
}
.articles__subscribe-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
}
.articles__subscribe-wrap {
  text-align: center;
}
.articles__subscribe .subscribe {
  background: transparent;
}
.articles__subscribe .subscribe__title {
  font-size: 18px;
  line-height: 26px;
  color: #050A0A;
  margin-top: 25px;
  font-family: Gilroy-Medium, sans-serif;
}
.articles__subscribe .subscribe__form {
  margin-top: 14px;
}
.articles__subscribe .subscribe__form input[type=email] {
  width: 100%;
  height: 44px;
}
.articles__subscribe .subscribe__form .green-btn {
  width: 100%;
  margin-top: 12px;
  font-size: 12px;
  padding: 14px 53px 14px;
}
.articles__subscribe .subscribe__form .privacy {
  font-size: 12px;
  margin-top: 15px;
}

.seo-text {
  padding: 89px 0 80px;
}
.seo-text__title {
  font-family: Otomarine, sans-serif;
  font-size: 44px;
  line-height: 52px;
  color: #050A0A;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
}
.seo-text__txt {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #8b8b8b;
  margin-bottom: 22px;
  letter-spacing: -0.035em;
}
.seo-text__txt:last-child {
  margin-bottom: 0;
}
.seo-text__info {
  display: none;
}
.seo-text .toggle-list {
  display: block;
}
.seo-text .toggle-arrow:after {
  transform: rotate(180deg);
}
.seo-text__more {
  margin-top: 20px;
  font-size: 14px;
  color: #149E4C;
  cursor: pointer;
}
.seo-text__more:after {
  content: "";
  mask-image: url("../img/arrow-down.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: #149E4C;
  width: 11px;
  height: 6px;
  display: inline-block;
  vertical-align: top;
  margin: 5px 0 0 11px;
}

.subscribe {
  background: #fef3e2;
}
.subscribe .content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe__img {
  width: 496px;
  margin-left: -50px;
  flex-shrink: 0;
}
.subscribe__wrap {
  margin-left: 86px;
  width: 50%;
}
.subscribe__title {
  font-family: Otomarine, sans-serif;
  font-size: 40px;
  line-height: 45px;
  color: #050A0A;
}
.subscribe__form {
  margin-top: 20px;
}
.subscribe__form input[type=email] {
  width: 73.4%;
}
.subscribe__form .green-btn {
  padding: 16px 53px 15px;
  border: none;
  cursor: pointer;
}
.subscribe__form .privacy {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #8b8b8b;
}
.subscribe__form .privacy a {
  color: #8b8b8b;
  text-decoration: underline;
}
.subscribe__form .privacy a:hover {
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .blog-page__header {
    padding: 0 15px 30px;
  }
  .blog-page__main {
    padding: 0 15px 60px;
  }
  .blog-page__main-left {
    width: 65%;
    margin-right: 30px;
  }
  .blog-page__main-right-pagi {
    margin-top: 20px;
  }
  .blog-page__main-right-item {
    padding: 15px 0;
  }
  .blog-page .popular,
.blog-page .similar {
    padding: 80px 15px 74px;
  }
  .blog-page .articles {
    padding: 60px 15px 80px;
  }
  .blog-page .articles__left {
    width: 67%;
    margin-right: 30px;
  }
  .blog-page .articles__subscribe {
    padding: 20px;
    width: 30%;
  }
  .blog-page .seo-text {
    padding: 89px 15px 80px;
  }
  .blog-page .subscribe {
    padding: 0 15px;
  }
  .blog-page .subscribe__img {
    width: 390px;
    margin-left: 0;
  }
  .blog-page .subscribe__wrap {
    margin-left: 45px;
    width: 55%;
  }
  .blog-page .subscribe__form input[type=email] {
    width: 71.4%;
  }
}
@media screen and (max-width: 1023px) {
  .blog-page__header .page-title {
    font-size: 36px;
    line-height: 40px;
  }
  .blog-page__header .page-subtitle {
    font-size: 16px;
    line-height: 20px;
  }
  .blog-page__main {
    padding: 0 15px 40px;
  }
  .blog-page__main > .content-center {
    flex-direction: column;
  }
  .blog-page__main-left {
    width: 100%;
    margin-right: 0;
  }
  .blog-page__main-left-img {
    max-width: 738px;
  }
  .blog-page__main-left-title {
    font-size: 30px;
    line-height: 36px;
  }
  .blog-page__main-left-info {
    margin-top: 10px;
  }
  .blog-page__main-right {
    width: 100%;
    margin-top: 30px;
  }
  .blog-page__main-right-list {
    max-width: 600px;
  }
  .blog-page .popular,
.blog-page .similar {
    padding: 50px 15px 55px;
  }
  .blog-page .popular__list-item-title,
.blog-page .similar__list-item-title {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
  }
  .blog-page .popular__list-item-date,
.blog-page .similar__list-item-date {
    margin-top: 10px;
  }
  .blog-page .articles {
    padding: 50px 15px 60px;
  }
  .blog-page .articles__filter {
    padding-right: 43px;
  }
  .blog-page .articles__filter-wrap {
    width: calc(100% - 70px);
  }
  .blog-page .articles__filter-btns {
    height: 36px;
    right: 43px;
  }
  .blog-page .articles__filter-item {
    padding: 10px 16px 7px;
  }
  .blog-page .articles__filter .filter-icon:before {
    width: 15px;
    height: 15px;
    margin: -1px 7px 0 0;
  }
  .blog-page .articles__filter-search {
    height: 36px;
  }
  .blog-page .articles__filter-search .search-btn {
    width: 36px;
    height: 36px;
  }
  .blog-page .articles__filter-search .search-btn:before {
    width: 13px;
    height: 13px;
  }
  .blog-page .articles__left {
    width: 100%;
    margin-right: 0;
  }
  .blog-page .articles__subscribe {
    display: none;
  }
  .blog-page .seo-text {
    padding: 50px 15px 60px;
  }
  .blog-page .seo-text__title {
    font-size: 36px;
    line-height: 42px;
  }
  .blog-page .subscribe {
    padding: 0 15px 40px;
  }
  .blog-page .subscribe .content-center {
    flex-direction: column;
  }
  .blog-page .subscribe__img {
    width: 350px;
  }
  .blog-page .subscribe__wrap {
    text-align: center;
    margin-left: 0;
    width: 82%;
    margin-top: -30px;
  }
  .blog-page .subscribe__title {
    font-size: 32px;
    line-height: 36px;
  }
  .blog-page .subscribe__form {
    width: 70%;
    margin: 20px auto 0;
  }
  .blog-page .subscribe__form input[type=email] {
    width: 62%;
  }
  .blog-page .subscribe__form .privacy {
    margin: 15px auto 0;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .blog-page__header {
    padding: 0 15px 20px;
  }
  .blog-page__header .breadcrumbs {
    padding: 20px 0 17px;
  }
  .blog-page__header .page-title {
    font-size: 24px;
    line-height: 32px;
  }
  .blog-page__header .page-subtitle {
    font-size: 14px;
  }
  .blog-page__main-left-title {
    font-size: 20px;
    line-height: 25px;
    margin-top: 15px;
  }
  .blog-page .articles__filter-btns {
    display: none;
  }
  .blog-page .articles__filter-wrap {
    width: 100%;
  }
  .blog-page .articles__wrap {
    margin-top: 25px;
  }
  .blog-page .articles__list-item {
    flex-direction: column;
    padding: 0;
    border: 0;
    margin-bottom: 30px;
  }
  .blog-page .articles__list-item-img {
    margin-right: 0;
    height: 200px;
    width: 100%;
  }
  .blog-page .articles__list-item-txt {
    margin-top: 20px;
  }
  .blog-page .articles__list-item-title {
    font-size: 16px;
    line-height: 22px;
  }
  .blog-page .articles__list-item-info {
    font-size: 12px;
    margin-top: 20px;
  }
  .blog-page .popular,
.blog-page .similar {
    padding: 40px 15px 30px;
  }
  .blog-page .popular__title,
.blog-page .similar__title {
    font-size: 24px;
    line-height: 32px;
  }
  .blog-page .popular__subtitle,
.blog-page .similar__subtitle {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    margin-top: 10px;
  }
  .blog-page .popular__list,
.blog-page .similar__list {
    flex-wrap: wrap;
    margin: 26px -10px 0;
    justify-content: center;
  }
  .blog-page .popular__list-item,
.blog-page .similar__list-item {
    width: 45%;
    margin: 0 7px 22px;
  }
  .blog-page .popular__list-item:last-child,
.blog-page .similar__list-item:last-child {
    margin-right: 6px;
  }
  .blog-page .popular__more,
.blog-page .similar__more {
    margin-top: 10px;
  }
  .blog-page .seo-text {
    padding: 50px 15px;
  }
  .blog-page .seo-text__title {
    font-size: 19px;
    line-height: 25px;
  }
  .blog-page .seo-text__txt {
    font-size: 14px;
    line-height: 20px;
  }
  .blog-page .subscribe .content-center {
    max-width: 500px;
  }
  .blog-page .subscribe__img {
    width: 277px;
  }
  .blog-page .subscribe__wrap {
    width: 100%;
  }
  .blog-page .subscribe__title {
    font-size: 24px;
    line-height: 32px;
  }
  .blog-page .subscribe__form {
    width: 100%;
  }
  .blog-page .subscribe__form input[type=email] {
    width: 100%;
    margin-right: 0;
  }
  .blog-page .subscribe__form .green-btn {
    width: 100%;
    margin-top: 12px;
    padding: 17px 53px 15px;
  }
}
@media screen and (max-width: 374px) {
  .blog-page .articles__list-item-img {
    height: auto;
  }
  .blog-page .popular__list-item-title,
.blog-page .similar__list-item-title {
    font-size: 14px;
    line-height: 18px;
  }
}

/*# sourceMappingURL=main.css.map */
