@media screen and (max-width: 1200px)
  .blog-page
    &__header
      padding: 0 15px 30px
    &__main
      padding: 0 15px 60px
      &-left
        width: 65%
        margin-right: 30px
      &-right
        &-pagi
          margin-top: 20px
        &-item
          padding: 15px 0
    .popular,
    .similar
      padding: 80px 15px 74px
    .articles
      padding: 60px 15px 80px
      &__left
        width: 67%
        margin-right: 30px
      &__subscribe
        padding: 20px
        width: 30%
    .seo-text
      padding: 89px 15px 80px
    .subscribe
      padding: 0 15px
      &__img
        width: 390px
        margin-left: 0
      &__wrap
        margin-left: 45px
        width: 55%
      &__form
        input[type=email]
          width: 71.4%

@media screen and (max-width: 1023px)
  .blog-page
    &__header
      .page-title
        font-size: 36px
        line-height: 40px
      .page-subtitle
        font-size: 16px
        line-height: 20px
    &__main
      padding: 0 15px 40px
      >.content-center
        flex-direction: column
      &-left
        width: 100%
        margin-right: 0
        &-img
          max-width: 738px
        &-title
          font-size: 30px
          line-height: 36px
        &-info
          margin-top: 10px
      &-right
        width: 100%
        margin-top: 30px
        &-list
          max-width: 600px
    .popular,
    .similar
      padding: 50px 15px 55px
      &__list
        &-item
          &-title
            font-size: 16px
            line-height: 20px
            margin-top: 10px
          &-date
            margin-top: 10px
    .articles
      padding: 50px 15px 60px
      &__filter
        padding-right: 43px
        &-wrap
          width: calc(100% - 70px)
        &-btns
          height: 36px
          right: 43px
        &-item
          padding: 10px 16px 7px
        .filter-icon
          &:before
            width: 15px
            height: 15px
            margin: -1px 7px 0 0
        &-search
          height: 36px
          .search-btn
            width: 36px
            height: 36px
            &:before
              width: 13px
              height: 13px
      &__left
        width: 100%
        margin-right: 0
      &__subscribe
        display: none
    .seo-text
      padding: 50px 15px 60px
      &__title
        font-size: 36px
        line-height: 42px
    .subscribe
      padding: 0 15px 40px
      .content-center
        flex-direction: column
      &__img
        width: 350px
      &__wrap
        text-align: center
        margin-left: 0
        width: 82%
        margin-top: -30px
      &__title
        font-size: 32px
        line-height: 36px
      &__form
        width: 70%
        margin: 20px auto 0
        input[type=email]
          width: 62%
        .privacy
          margin: 15px auto 0
          width: 100%

@media screen and (max-width: 767px)
  .blog-page
    &__header
      padding: 0 15px 20px
      .breadcrumbs
        padding: 20px 0 17px
      .page-title
        font-size: 24px
        line-height: 32px
      .page-subtitle
        font-size: 14px
    &__main
      &-left
        &-title
          font-size: 20px
          line-height: 25px
          margin-top: 15px
    .articles
      &__filter
        &-btns
          display: none
        &-wrap
          width: 100%
      &__wrap
        margin-top: 25px
      &__list
        &-item
          flex-direction: column
          padding: 0
          border: 0
          margin-bottom: 30px
          &-img
            margin-right: 0
            height: 200px
            width: 100%
          &-txt
            margin-top: 20px
          &-title
            font-size: 16px
            line-height: 22px
          &-info
            font-size: 12px
            margin-top: 20px
    .popular,
    .similar
      padding: 40px 15px 30px
      &__title
        font-size: 24px
        line-height: 32px
      &__subtitle
        font-size: 14px
        line-height: 20px
        width: 100%
        margin-top: 10px
      &__list
        flex-wrap: wrap
        margin: 26px -10px 0
        justify-content: center
        &-item
          width: 45%
          margin: 0 7px 22px
          &:last-child
            margin-right: 6px
      &__more
        margin-top: 10px
    .seo-text
      padding: 50px 15px
      &__title
        font-size: 19px
        line-height: 25px
      &__txt
        font-size: 14px
        line-height: 20px
    .subscribe
      .content-center
        max-width: 500px
      &__img
        width: 277px
      &__wrap
        width: 100%
      &__title
        font-size: 24px
        line-height: 32px
      &__form
        width: 100%
        input[type=email]
          width: 100%
          margin-right: 0
        .green-btn
          width: 100%
          margin-top: 12px
          padding: 17px 53px 15px

@media screen and (max-width: 374px)
  .blog-page
    .articles
      &__list
        &-item
          &-img
            height: auto
    .popular,
    .similar
      &__list
        &-item
          &-title
            font-size: 14px
            line-height: 18px