$green-default: #149E4C
$green-hover: #149448
$green-pressed: #0C7838
$dark: #050A0A
$gray-dark: #363636
$gray-semi: #8b8b8b
$gray-light: #ebebeb
$light: #f8f8f8
$light-green: #F0F9F4
$white: #FFFFFF
$yellow-bg: #fef3e2

$font-gilroy-regular: Gilroy-Regular, sans-serif
$font-gilroy-medium: Gilroy-Medium, sans-serif
$font-gilroy-semibold: Gilroy-SemiBold, sans-serif
$font-otomarine: Otomarine, sans-serif

body
  font-family: $font-gilroy-medium
  -webkit-tap-highlight-color: transparent
  overflow-x: hidden
  overscroll-behavior: none
  img
    max-width: 100%
    height: auto

h1,h2,h3
  font-weight: 500

.content-center
  max-width: 1170px
  margin: 0 auto

.btn
  font-size: 14px
  color: $white
  transition: all .4s linear
  display: inline-block
  border-radius: 2px
  text-align: center

.green-btn
  background-color: $green-default
  &:hover
    background-color: $green-hover

.link
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 1

.form-subscribe
  input[type=email]
    background: $white
    border: none
    border-radius: 2px
    padding: 18px 20px 15px
    color: $gray-dark
    margin-right: 16px
    height: 46px
    width: 76.5%
  .privacy
    margin-top: 31px
    display: block
    font-size: 12px
    color: #7f7f7f
    a
      color: $white
      &:hover
        text-decoration: underline

input[type="search" i]::-webkit-search-cancel-button
  display: none !important

input[type=search],
input[type=email]
  font-size: 14px
  font-family: $font-gilroy-regular
  border-radius: 4px
  width: 100%
  outline: none
  -webkit-appearance: none !important
  +placeholder
    font-size: 14px
    color: $gray-semi

.breadcrumbs
  padding: 20px 0 23px
  li
    display: inline-block
    margin-right: 10px
    font-size: 12px
    color: $gray-semi
    &:last-child
      &:after
        display: none
    &:after
      content: ''
      background: $gray-semi
      width: 15px
      height: 1px
      display: inline-block
      vertical-align: top
      margin: 5px 0 0 10px
    a
      color: $gray-semi
      &:hover
        text-decoration: underline

.article-info
  display: flex
  font-size: 14px
  color: $gray-semi
  .info-date,
  .info-read
    display: flex
    align-items: center
    margin-right: 8px
    &:after
      content: "●"
      font-size: 5px
      color: $gray-semi
      margin-left: 8px
      margin-top: -2px
  .info-tag
    background: $light
    padding: 6px 11px 4px
    border-radius: 30px
    color: $gray-semi
    &:hover
      background: darken($light,1%)

.blog-page
  &__header
    padding-bottom: 30px
    .page-title
      font-size: 44px
      line-height: 52px
      color: $dark
      font-family: $font-otomarine
    .page-subtitle
      font-family: $font-gilroy-regular
      font-size: 18px
      line-height: 26px
      color: $gray-semi
      margin-top: 10px
  &__main
    padding-bottom: 60px
    .content-center
      display: flex
      justify-content: space-between
    &-left
      width: 745px
      margin-right: 49px
      &-img
        width: 100%
        border-radius: 6px
        overflow: hidden
      &-title
        margin-top: 26px
        font-size: 34px
        line-height: 40px
        color: $dark
        display: inline-block
        &:hover
          text-decoration: underline
      &-info
        margin-top: 26px
    &-right
      width: 32%
      &-title
        font-size: 18px
        color: $dark
      &-pagi
        margin-top: 30px
        display: flex
        border-bottom: 1px solid #E9E9E9
        .pagi-item
          font-size: 16px
          color: $gray-semi
          padding-bottom: 22px
          margin-right: 30px
          border-bottom: 2px solid transparent
          margin-bottom: -1px
          cursor: pointer
          &:hover
            border-color: $green-default
        .active
          border-color: $green-default
      &-item
        padding: 20px 0
        display: flex
        align-items: center
        border-bottom: 1px solid #E9E9E9
        &:last-child
          border-bottom: 0
      &-img
        width: 98px
        height: 59px
        flex-shrink: 0
        margin-right: 20px
        img
          width: 100%
          height: 100%
          object-fit: cover
      &-txt
        font-size: 16px
        line-height: 22px
        color: $dark
        &:hover
          text-decoration: underline
.popular,
.similar
  background: $light
  padding: 80px 0 74px
  text-align: center
  &__title
    font-family: $font-otomarine
    font-size: 40px
    line-height: 45px
    color: $dark
  &__subtitle
    margin: 15px auto 0
    font-family: $font-gilroy-regular
    font-size: 16px
    line-height: 22px
    color: $gray-semi
    width: 60%
  &__list
    margin-top: 40px
    display: flex
    text-align: left
    &-item
      width: 24%
      margin-right: 20px
      &:nth-child(4n)
        margin-right: 0
      &-title
        margin-top: 20px
        font-size: 18px
        line-height: 26px
        color: $dark
        display: inline-block
        &:hover
          text-decoration: underline
      &-date
        margin-top: 20px
        font-size: 12px
        color: $gray-semi
.articles
  padding: 60px 0 80px
  .articles__filter-wrap::-webkit-scrollbar
    display: none
  &__filter
    position: relative
    padding-right: 50px
    &-wrap
      overflow-x: scroll
      position: relative
      z-index: 1
      width: calc(100% - 70px)
    &-search
      position: absolute
      top: 0
      right: 0
      left: 0
      height: 40px
      display: flex
      align-items: center
      .search-btn
        width: 40px
        height: 40px
        border-radius: 50%
        background: $white
        border: 1px solid #E9E9E9
        cursor: pointer
        display: flex
        justify-content: center
        align-items: center
        margin-left: auto
        &:before
          content: ""
          mask-image: url("../img/search-icon.svg")
          mask-size: contain
          mask-repeat: no-repeat
          background-color: $dark
          width: 14px
          height: 14px
      .close-btn
        background: url("../img/close-icon.svg") no-repeat 0 0/contain
        width: 10px
        height: 10px
        position: absolute
        right: 18px
        z-index: 3
        display: none
        cursor: pointer
      .articles-search
        height: 40px
        width: 100%
        display: none
        position: absolute
        top: 0
        right: 0
        z-index: 2
        input[type=search]
          border-radius: 100px
          background: $white
          border: 1px solid $green-default
          outline: none
          width: 100%
          height: 100%
          font-size: 14px
          font-family: $font-gilroy-regular
          color: $dark
          padding: 10px 30px 10px 20px
        .btn-submit
          position: absolute
          top: 12px
          right: 16px
          width: 15px
          height: 15px
          mask-image: url("../img/search-icon.svg")
          background-color: $dark
          border: none
          cursor: pointer
    &-btns
      position: absolute
      top: 0
      right: 50px
      width: 80px
      height: 40px
      background: $white
      border: 1px solid #E9E9E9
      box-shadow: -20px 10px 10px rgba(255,255,255,.9)
      border-radius: 100px
      z-index: 2
      display: flex
      justify-content: center
      align-items: center
      .left-btn,
      .right-btn
        mask-image: url("../img/arrow-right.svg")
        mask-repeat: no-repeat
        mask-size: contain
        width: 9px
        height: 13px
        cursor: pointer
      .left-btn
        transform: rotate(180deg)
        background-color: #C8C8C8
        margin-right: 33px
      .right-btn
        background-color: $dark
    &-list
      width: max-content
      display: flex
    &-item
      font-size: 14px
      color: $gray-semi
      border: 1px solid #E9E9E9
      border-radius: 100px
      padding: 12px 16px 9px
      margin-right: 8px
      cursor: pointer
      &:last-child
        margin-right: 0
      &:hover
        background: #F7FBF9
        color: $green-default
        border-color: $green-default
    .active
      background: #F7FBF9
      color: $green-default
      border-color: $green-default
  &__wrap
    display: flex
    justify-content: space-between
    align-items: flex-start
  &__left
    width: 745px
  &__list
    &-item
      display: flex
      padding: 40px 0
      border-bottom: 1px solid #E9E9E9
      &:last-child
        border-bottom: 0
      &-img
        width: 380px
        height: 220px
        flex-shrink: 0
        border-radius: 6px
        overflow: hidden
        margin-right: 32px
      &-txt
        display: flex
        flex-direction: column
      &-title
        font-size: 20px
        line-height: 25px
        color: $dark
        &:hover
          text-decoration: underline
      &-text
        margin-top: 15px
        font-size: 14px
        line-height: 20px
        color: $gray-semi
      &-info
        margin-top: auto
  &__all
    display: none
    border-top: 1px solid #E9E9E9
  .toggle-list
    display: block
  &__more
    margin-top: 10px
    font-size: 14px
    display: flex
    justify-content: center
    align-items: center
    height: 46px
    cursor: pointer
    border-radius: 2px
    padding-top: 5px
    &:hover
      .providers-page__more-btn
        &:before
          transform: rotate(180deg)
    &-btn
      color: $white
      &:before
        content: ""
        background: url("../img/load-icon.svg") no-repeat 0 0/contain
        width: 15px
        height: 15px
        display: inline-block
        vertical-align: top
        margin: 0 10px 0 0
        transition: .5s linear
  &__subscribe
    width: 32%
    background: #F6F6F6
    padding: 30px
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 29px
    border-radius: 2px
    &-img
      width: 130px
      height: 130px
      border-radius: 50%
      overflow: hidden
    &-wrap
      text-align: center
    .subscribe
      background: transparent
      &__title
        font-size: 18px
        line-height: 26px
        color: $dark
        margin-top: 25px
        font-family: $font-gilroy-medium
      &__form
        margin-top: 14px
        input[type=email]
          width: 100%
          height: 44px
        .green-btn
          width: 100%
          margin-top: 12px
          font-size: 12px
          padding: 14px 53px 14px
        .privacy
          font-size: 12px
          margin-top: 15px
.seo-text
  padding: 89px 0 80px
  &__title
    font-family: $font-otomarine
    font-size: 44px
    line-height: 52px
    color: $dark
    letter-spacing: -0.01em
    margin-bottom: 8px
  &__txt
    font-family: $font-gilroy-regular
    font-size: 16px
    line-height: 22px
    color: $gray-semi
    margin-bottom: 22px
    letter-spacing: -0.035em
    &:last-child
      margin-bottom: 0
  &__info
    display: none
  .toggle-list
    display: block
  .toggle-arrow
    &:after
      transform: rotate(180deg)
  &__more
    margin-top: 20px
    font-size: 14px
    color: $green-default
    cursor: pointer
    &:after
      content: ''
      mask-image: url("../img/arrow-down.svg")
      mask-size: contain
      mask-repeat: no-repeat
      background-color: $green-default
      width: 11px
      height: 6px
      display: inline-block
      vertical-align: top
      margin: 5px 0 0 11px

.subscribe
  background: $yellow-bg
  .content-center
    display: flex
    justify-content: center
    align-items: center
  &__img
    width: 496px
    margin-left: -50px
    flex-shrink: 0
  &__wrap
    margin-left: 86px
    width: 50%
  &__title
    font-family: $font-otomarine
    font-size: 40px
    line-height: 45px
    color: $dark
  &__form
    margin-top: 20px
    input[type="email"]
      width: 73.4%
    .green-btn
      padding: 16px 53px 15px
      border: none
      cursor: pointer
    .privacy
      font-family: $font-gilroy-regular
      font-size: 14px
      line-height: 20px
      color: $gray-semi
      a
        color: $gray-semi
        text-decoration: underline
        &:hover
          text-decoration: none