.blog-page
  .blog-page__header
    .content-center
      ul.breadcrumbs
        li
          a(href="#") Home Page
        li Blog
      h1.page-title Online Casino Blog
      .page-subtitle.
        Our online casino blog contains the most interesting,
        engaging and informative stories from the world of
        online gambling.
  .blog-page__main
    .content-center
      .blog-page__main-left
        .blog-page__main-left-img
          img(src="img/blog_main.jpg" alt="")
        a(href="#" target="_blank").blog-page__main-left-title.
          Betsson Celebrate Netent’s Biggest Game of the Year So
          Far With €150,000 in Pure Cash to Give Away
        .blog-page__main-left-info.article-info
          .info-date Jun 3
          .info-read 3 min read
          a(href="#" target="_blank").info-tag News
      .blog-page__main-right
        .blog-page__main-right-title Top 5 Best
        .blog-page__main-right-pagi
          .pagi-item.active News
          .pagi-item Articles
        ul.blog-page__main-right-list
          li.blog-page__main-right-item
            .blog-page__main-right-img
              img(src="img/blog_top-1.jpg" alt="")
            a(href="#" target="_blank").blog-page__main-right-txt.
              Major casino resort in Athens to be ready by 2026
          li.blog-page__main-right-item
            .blog-page__main-right-img
              img(src="img/blog_top-2.jpg" alt="")
            a(href="#" target="_blank").blog-page__main-right-txt.
              Major casino resort in Athens to be ready by 2026
          li.blog-page__main-right-item
            .blog-page__main-right-img
              img(src="img/blog_top-3.jpg" alt="")
            a(href="#" target="_blank").blog-page__main-right-txt.
              Major casino resort in Athens to be ready by 2026
          li.blog-page__main-right-item
            .blog-page__main-right-img
              img(src="img/blog_top-4.jpg" alt="")
            a(href="#" target="_blank").blog-page__main-right-txt.
              Major casino resort in Athens to be ready by 2026
          li.blog-page__main-right-item
            .blog-page__main-right-img
              img(src="img/blog_top-5.jpg" alt="")
            a(href="#" target="_blank").blog-page__main-right-txt.
              Major casino resort in Athens to be ready by 2026
  .popular
    .content-center
      .popular__title Popular Articles
      .popular__subtitle.
        Check out our hand-picked list of favourites for the month
        that have the most generous no deposit, free spins and/or
        matching bonuses:
      ul.popular__list
        li.popular__list-item
          .popular__list-item-img
            img(src="img/blog_popular-1.jpg" alt="")
          a(href="#" target="_blank").popular__list-item-title.
            Rough Guide to History of Gambling: From Ancient
          .popular__list-item-date 20 July 2020
        li.popular__list-item
          .popular__list-item-img
            img(src="img/blog_popular-2.jpg" alt="")
          a(href="#" target="_blank").popular__list-item-title.
            Rough Guide to History of Gambling: From Ancient
          .popular__list-item-date 20 July 2020
        li.popular__list-item
          .popular__list-item-img
            img(src="img/blog_popular-3.jpg" alt="")
          a(href="#" target="_blank").popular__list-item-title.
            Rough Guide to History of Gambling: From Ancient
          .popular__list-item-date 20 July 2020
        li.popular__list-item
          .popular__list-item-img
            img(src="img/blog_popular-4.jpg" alt="")
          a(href="#" target="_blank").popular__list-item-title.
            Rough Guide to History of Gambling: From Ancient
          .popular__list-item-date 20 July 2020
  .articles
    .content-center
      .articles__filter
        .articles__filter-btns
          .left-btn
          .right-btn
        .articles__filter-wrap
          ul.articles__filter-list
            li.articles__filter-item.border-btn.active All
            li.articles__filter-item.border-btn News
            li.articles__filter-item.border-btn Articles
            li.articles__filter-item.border-btn Popular
            li.articles__filter-item.border-btn The Newest
            li.articles__filter-item.border-btn About Casino
            li.articles__filter-item.border-btn About Slots
            li.articles__filter-item.border-btn Support & Help
            li.articles__filter-item.border-btn Bonuses
            li.articles__filter-item.border-btn About Casino
            li.articles__filter-item.border-btn Articles
            li.articles__filter-item.border-btn Popular
            li.articles__filter-item.border-btn The Newest
            li.articles__filter-item.border-btn About Casino
            li.articles__filter-item.border-btn About Slots
            li.articles__filter-item.border-btn Support & Help
        .articles__filter-search
          .search-btn
          .close-btn
          form.articles-search
            input(type="search")
            button(type="submit").btn-submit
      .articles__wrap
        .articles__left
          ul.articles__list
            li.articles__list-item
              .articles__list-item-img
                img(src="img/article-img-1.jpg" alt="")
              .articles__list-item-txt
                a(href="#" target="_blank").articles__list-item-title.
                  Norway to allocate 15 million kroons to fight against
                  gambling addiction
                .articles__list-item-text.
                  The Minister of Culture and Gender Equality of Norway,
                  Abid Raja, announced the launch of funding for the
                  government's action plan to combat
                .articles__list-item-info.article-info
                  .info-date Jun 3
                  .info-read 3 min read
                  a(href="#" target="_blank").info-tag Articles
            li.articles__list-item
              .articles__list-item-img
                img(src="img/article-img-2.jpg" alt="")
              .articles__list-item-txt
                a(href="#" target="_blank").articles__list-item-title.
                  Norway to allocate 15 million kroons to fight against
                  gambling addiction
                .articles__list-item-text.
                  The Minister of Culture and Gender Equality of Norway,
                  Abid Raja, announced the launch of funding for the
                  government's action plan to combat
                .articles__list-item-info.article-info
                  .info-date Jun 3
                  .info-read 3 min read
                  a(href="#" target="_blank").info-tag About Casino
            li.articles__list-item
              .articles__list-item-img
                img(src="img/article-img-3.jpg" alt="")
              .articles__list-item-txt
                a(href="#" target="_blank").articles__list-item-title.
                  Norway to allocate 15 million kroons to fight against
                  gambling addiction
                .articles__list-item-text.
                  The Minister of Culture and Gender Equality of Norway,
                  Abid Raja, announced the launch of funding for the
                  government's action plan to combat
                .articles__list-item-info.article-info
                  .info-date Jun 3
                  .info-read 3 min read
                  a(href="#" target="_blank").info-tag World News
            li.articles__list-item
              .articles__list-item-img
                img(src="img/article-img-4.jpg" alt="")
              .articles__list-item-txt
                a(href="#" target="_blank").articles__list-item-title.
                  Norway to allocate 15 million kroons to fight against
                  gambling addiction
                .articles__list-item-text.
                  The Minister of Culture and Gender Equality of Norway,
                  Abid Raja, announced the launch of funding for the
                  government's action plan to combat
                .articles__list-item-info.article-info
                  .info-date Jun 3
                  .info-read 3 min read
                  a(href="#" target="_blank").info-tag News
            li.articles__list-item
              .articles__list-item-img
                img(src="img/article-img-5.jpg" alt="")
              .articles__list-item-txt
                a(href="#" target="_blank").articles__list-item-title.
                  Norway to allocate 15 million kroons to fight against
                  gambling addiction
                .articles__list-item-text.
                  The Minister of Culture and Gender Equality of Norway,
                  Abid Raja, announced the launch of funding for the
                  government's action plan to combat
                .articles__list-item-info.article-info
                  .info-date Jun 3
                  .info-read 3 min read
                  a(href="#" target="_blank").info-tag Articles
            li.articles__list-item
              .articles__list-item-img
                img(src="img/article-img-6.jpg" alt="")
              .articles__list-item-txt
                a(href="#" target="_blank").articles__list-item-title.
                  Norway to allocate 15 million kroons to fight against
                  gambling addiction
                .articles__list-item-text.
                  The Minister of Culture and Gender Equality of Norway,
                  Abid Raja, announced the launch of funding for the
                  government's action plan to combat
                .articles__list-item-info.article-info
                  .info-date Jun 3
                  .info-read 3 min read
                  a(href="#" target="_blank").info-tag About Casino
            li.articles__list-item
              .articles__list-item-img
                img(src="img/article-img-7.jpg" alt="")
              .articles__list-item-txt
                a(href="#" target="_blank").articles__list-item-title.
                  Norway to allocate 15 million kroons to fight against
                  gambling addiction
                .articles__list-item-text.
                  The Minister of Culture and Gender Equality of Norway,
                  Abid Raja, announced the launch of funding for the
                  government's action plan to combat
                .articles__list-item-info.article-info
                  .info-date Jun 3
                  .info-read 3 min read
                  a(href="#" target="_blank").info-tag World News
            li.articles__list-item
              .articles__list-item-img
                img(src="img/article-img-8.jpg" alt="")
              .articles__list-item-txt
                a(href="#" target="_blank").articles__list-item-title.
                  Norway to allocate 15 million kroons to fight against
                  gambling addiction
                .articles__list-item-text.
                  The Minister of Culture and Gender Equality of Norway,
                  Abid Raja, announced the launch of funding for the
                  government's action plan to combat
                .articles__list-item-info.article-info
                  .info-date Jun 3
                  .info-read 3 min read
                  a(href="#" target="_blank").info-tag News
            li.articles__list-item
              .articles__list-item-img
                img(src="img/article-img-9.jpg" alt="")
              .articles__list-item-txt
                a(href="#" target="_blank").articles__list-item-title.
                  Norway to allocate 15 million kroons to fight against
                  gambling addiction
                .articles__list-item-text.
                  The Minister of Culture and Gender Equality of Norway,
                  Abid Raja, announced the launch of funding for the
                  government's action plan to combat
                .articles__list-item-info.article-info
                  .info-date Jun 3
                  .info-read 3 min read
                  a(href="#" target="_blank").info-tag World News
            li.articles__list-item
              .articles__list-item-img
                img(src="img/article-img-10.jpg" alt="")
              .articles__list-item-txt
                a(href="#" target="_blank").articles__list-item-title.
                  Norway to allocate 15 million kroons to fight against
                  gambling addiction
                .articles__list-item-text.
                  The Minister of Culture and Gender Equality of Norway,
                  Abid Raja, announced the launch of funding for the
                  government's action plan to combat
                .articles__list-item-info.article-info
                  .info-date Jun 3
                  .info-read 3 min read
                  a(href="#" target="_blank").info-tag News
          .articles__all
            ul.articles__list
              li.articles__list-item
                .articles__list-item-img
                  img(src="img/article-img-1.jpg" alt="")
                .articles__list-item-txt
                  a(href="#" target="_blank").articles__list-item-title.
                    Norway to allocate 15 million kroons to fight against
                    gambling addiction
                  .articles__list-item-text.
                    The Minister of Culture and Gender Equality of Norway,
                    Abid Raja, announced the launch of funding for the
                    government's action plan to combat
                  .articles__list-item-info.article-info
                    .info-date Jun 3
                    .info-read 3 min read
                    a(href="#" target="_blank").info-tag Articles
              li.articles__list-item
                .articles__list-item-img
                  img(src="img/article-img-2.jpg" alt="")
                .articles__list-item-txt
                  a(href="#" target="_blank").articles__list-item-title.
                    Norway to allocate 15 million kroons to fight against
                    gambling addiction
                  .articles__list-item-text.
                    The Minister of Culture and Gender Equality of Norway,
                    Abid Raja, announced the launch of funding for the
                    government's action plan to combat
                  .articles__list-item-info.article-info
                    .info-date Jun 3
                    .info-read 3 min read
                    a(href="#" target="_blank").info-tag About Casino
              li.articles__list-item
                .articles__list-item-img
                  img(src="img/article-img-3.jpg" alt="")
                .articles__list-item-txt
                  a(href="#" target="_blank").articles__list-item-title.
                    Norway to allocate 15 million kroons to fight against
                    gambling addiction
                  .articles__list-item-text.
                    The Minister of Culture and Gender Equality of Norway,
                    Abid Raja, announced the launch of funding for the
                    government's action plan to combat
                  .articles__list-item-info.article-info
                    .info-date Jun 3
                    .info-read 3 min read
                    a(href="#" target="_blank").info-tag World News
              li.articles__list-item
                .articles__list-item-img
                  img(src="img/article-img-4.jpg" alt="")
                .articles__list-item-txt
                  a(href="#" target="_blank").articles__list-item-title.
                    Norway to allocate 15 million kroons to fight against
                    gambling addiction
                  .articles__list-item-text.
                    The Minister of Culture and Gender Equality of Norway,
                    Abid Raja, announced the launch of funding for the
                    government's action plan to combat
                  .articles__list-item-info.article-info
                    .info-date Jun 3
                    .info-read 3 min read
                    a(href="#" target="_blank").info-tag News
          .articles__more.green-btn
            .articles__more-btn Show More
        .articles__subscribe
          .articles__subscribe-img
            img(src="img/article-subscribe.png" alt="")
          .articles__subscribe-wrap.subscribe
            .subscribe__title.
              The best news and articles, once a week,
              delivered to the post office
            form(action="#").subscribe__form.form-subscribe
              input(type="email" placeholder="Enter your email")
              button(type="submit").btn.green-btn Subscribe
              span.privacy.
                By subscribing you are certifying that you have
                reviewed and accepted our updated #[a(href="#") Privacy]
                and #[a(href="#") Cookie Policy]
  .similar
    .content-center
      .similar__title Similar Articles
      .similar__subtitle.
        The best new casinos added to our list, including detailed
        casino reviews and rankings, bonuses, promotions.
      ul.similar__list
        li.similar__list-item
          .similar__list-item-img
            img(src="img/blog_popular-1.jpg" alt="")
          a(href="#" target="_blank").similar__list-item-title.
            Rough Guide to History of Gambling: From Ancient
          .similar__list-item-date 20 July 2020
        li.similar__list-item
          .similar__list-item-img
            img(src="img/blog_popular-2.jpg" alt="")
          a(href="#" target="_blank").similar__list-item-title.
            Rough Guide to History of Gambling: From Ancient
          .similar__list-item-date 20 July 2020
        li.similar__list-item
          .similar__list-item-img
            img(src="img/blog_popular-3.jpg" alt="")
          a(href="#" target="_blank").similar__list-item-title.
            Rough Guide to History of Gambling: From Ancient
          .similar__list-item-date 20 July 2020
        li.similar__list-item
          .similar__list-item-img
            img(src="img/blog_popular-4.jpg" alt="")
          a(href="#" target="_blank").similar__list-item-title.
            Rough Guide to History of Gambling: From Ancient
          .similar__list-item-date 20 July 2020
  .seo-text
    .content-center
      .seo-text__title Top online casinos for India in 2021
      .seo-text__txt.
        The best new casinos added to our list, including detailed
        casino reviews and rankings, bonuses, promotions and
        experiences from real players at your fingertips. Here you
        can find the best online casinos we have recently included
        in our database. We update this list frequently, so remember
        to keep an eye on it and do not miss the chance to try your
        luck at some of the most amazing casinos in the world.
      .seo-text__txt.
        With a competitive market like the online casino industry,
        you can never get bored because the choice of online casinos
        is incredibly large. There are new online casinos popping up
        every day, so there is always a new place where you can try
        your luck.The best new casinos added to our list, including
        detailed casino reviews and rankings, bonuses, promotions
        and experiences from real players at your fingertips. Here
        you can find the best online casinos we have recently
        included in our database. We update this list frequently,
        so remember to keep an eye on it and do not miss the chance
        to try your luck at some of the most amazing casinos in the
        world.
      .seo-text__txt.
        With a competitive market like the online casino industry,
        you can never get bored because the choice of online casinos
        is incredibly large. There are new online casinos popping up
        every day, so there is always a new place where you can try
        your luck.
      .seo-text__info
        .seo-text__txt.
          With a competitive market like the online casino industry,
          you can never get bored because the choice of online casinos
          is incredibly large. There are new online casinos popping up
          every day, so there is always a new place where you can try
          your luck.The best new casinos added to our list, including
          detailed casino reviews and rankings, bonuses, promotions
          and experiences from real players at your fingertips. Here
          you can find the best online casinos we have recently
          included in our database. We update this list frequently,
          so remember to keep an eye on it and do not miss the chance
          to try your luck at some of the most amazing casinos in the
          world.
      .seo-text__more Read More
  .subscribe
    .content-center
      .subscribe__img
        img(src="img/subscribe-img.png" alt="subscribe")
      .subscribe__wrap
        .subscribe__title Subscribe to news updates and get +100 spins without deposit
        form(action="#").subscribe__form.form-subscribe
          input(type="email" placeholder="Skriv inn din email")
          button(type="submit").btn.green-btn Send
          span.privacy.
            By subscribing you are certifying that you have
            reviewed and accepted our updated #[a(href="#") Privacy]
            and #[a(href="#") Cookie Policy]